/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');

body {
  /* background-color: white; */
  font-family: "Open Sans", sans-serif;
  padding: 0.25rem 1.5rem;
  font-size: 1.125rem;
  margin: 0;
  color: #444; 
  background: #fff;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Merriweather", sans-serif;
  font-size: 2.5rem;
}

header {
  text-align: center;
}

section {
  text-align: center;
  padding: 1rem;
}

footer {
  padding: 1.25rem;
  text-align: center;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
}

footer small {
  font-size: 0.875rem;
}

footer small a {
  text-decoration: underline;
}

.button {
  outline: none;
  width: 10rem;
  display: block;
  color: #4a4a4a;
  cursor: pointer;
  font-weight: 600;
  border-bottom: solid 0.125rem rgba(0,0,0,.3);
  border-radius: 0.125rem;
  margin: 2rem auto;
  padding: 0.125rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFCE36;
}

.dashboard-element {
  flex: 1;
  /* cursor: pointer; */
  margin: 0.625rem;
  min-width: 12rem;
  max-width: 12rem;
  width: 12.5rem;
  /* box-shadow: 0.15rem 0.15rem 0 rgba(0,0,0,.12); */
  box-shadow: 0 0.25rem 0.125rem 0 rgba(33,37,41,.05);
  background-color: white;
  /* border-bottom: solid 0.125rem rgba(0,0,0,.12); */
  border-radius: 0.125rem;
}

.dashboard-element img {
  padding-bottom: 1rem;
}

.video-element {
  margin: 0.625rem;
}

.centred-flex-wrap {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#dashboard-section {
  background: #f8f8f8;
}

.headerContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 15px;
  justify-content: space-between;
}

.headerContainer img {
  width: 150px;
  height: 100px; 
}

.navigation-bar {
  width: 100%;
  display: none;
}

.navigation-bar.is-active {
  display: block;
}

.navigation-logo {
}

.navigation-menu-button {
  width: 32px;
  border: none;
  height: 32px;
  margin: -4px 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../images/navigation-menu-button.svg");
}

.navigation-menu-button.is-active {
  border-radius: 4px;
  background-color: #ededf0;
}

.navigation-menu-list {
  padding: 0;
  list-style-type: none;
}

.navigation-menu-list li {
  margin: 15px auto;
  border-bottom: 1px solid #cdcdd4;
}

.navigation-menu-list li a {
  display: block;
  min-height: 40px;
  font-weight: normal;
}

@media all and (max-width: 360px) {
  .headerContainer img {
    width: 130px;
    height: 85px; 
  }
}

/* Desktop menu */
@media all and (min-width: 700px) {
  .headerContainer {
    flex-wrap: unset;
    align-items: center;
    justify-content: unset;
  }

  .headerContainer img {
    width: 200px;
    height: 115px;
  }
  
  .navigation-menu-button {
    display: none;
  }

  .navigation-bar {
    display: flex;
  }

  .navigation-menu-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .navigation-menu-list li {
    margin: 0 5% 0 0;
    border-bottom: none;
  }

  .navigation-menu-list li a {
    min-height: unset;
  }

  nav a:hover {
    text-decoration: underline;
  }

  footer a:hover {
    text-decoration: underline;
  }
}