/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');

body {
  /* background-color: white; */
  font-family: "Open Sans", sans-serif;
  padding: 0.25rem 1.5rem;
  font-size: 1.125rem;
  margin: 0;
  color: #444; 
  background: #fff;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
}

header {
  text-align: center;
}

section {
  text-align: center;
  padding: 1rem;
}

footer {
  padding: 1.25rem;
  text-align: center;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
}

footer small {
  font-size: 0.875rem;
}

footer small a {
  text-decoration: underline;
}

a svg:hover .st0 { 
  fill:url(#SVGID_1_);
}

a svg:hover .st1 { 
  fill:url(#SVGID_2_);
}

a svg:hover .st2 { 
  fill:#654C9F;
}

a svg:hover .cls-2 { 
  fill: #2ba9e1;
}

a svg:hover .fill0 { 
  fill:#1AB7EA;
}

.socialIcon svg {
  width: 3.75rem;
}

.button {
  outline: none;
  width: 10rem;
  display: block;
  color: #4a4a4a;
  cursor: pointer;
  font-weight: 600;
  border-bottom: solid 0.125rem rgba(0,0,0,.3);
  border-radius: 0.125rem;
  margin: 2rem auto;
  padding: 0.125rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFCE36;
}

.dashboard-element {
  flex: 1;
  /* cursor: pointer; */
  margin: 0.625rem;
  min-width: 15.625rem;
  max-width: 21.875rem;
  width: 12.5rem;
  /* box-shadow: 0.15rem 0.15rem 0 rgba(0,0,0,.12); */
  box-shadow: 0 0.25rem 0.125rem 0 rgba(33,37,41,.05);
  background-color: white;
  /* border-bottom: solid 0.125rem rgba(0,0,0,.12); */
  border-radius: 0.125rem;
}

.dashboard-element img {
  padding-bottom: 1rem;
}

.video-element {
  margin: 0.625rem;
}

.centred-flex-wrap {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#dashboard-section {
  background: #f8f8f8;
}

#instafeed {
  text-align: center;
}

#instafeed img {
  padding: 0.5rem;
  transition: opacity .2s ease-in-out;
}